<div class="row container">
  <div class="sign-up columns large-6 small-12">

<div class="edit_form">
  <h2>Edit Profile <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :about_me %><br />
    <%= f.text_field :about_me, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <div class="file_field" id="default-image">
    <%= f.label :avatar_url %>
    <%= f.file_field :avatar_url %>
    <% if @user.avatar_url.present? %>
      <%= image_tag @user.avatar_url %>
    <% else %>
      <%= default_url %>
    <%= f.label :remove_avatar_url do %>
    <%= f.check_box :remove_avatar_url %>
    <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
  </div>
</div>
