<!DOCTYPE html>
  <html>
    <head>
      <title>MommyDates</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    "appliction", media: "all" %>
        <%= javascript_include_tag "application" %>
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet" >
        <link href= url("/assets/images/sparkles.jpg") rel="stylesheet" >
    </head>
    <body>

      <div class="row container"
        <div class="columns large-6 small-12">
          <% if notice %>
            <p class="alert alert-success" id="errors"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
        </div>
      </div>
        <%= yield %>
    </body>
  </html>
