<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>MommyDates</title>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <%= stylesheet_link_tag    "appliction", media: "all" %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet" >
      <link href= url("/assets/images/sparkles.jpg") rel="stylesheet" >
      <link href= url("/assets/images/martini.png") rel="stylesheet" >
  </head>

    <body>
      <div class="row container"
        <div class="columns large-6 small-12">
          <% if notice %>
            <p class="alert alert-success" id="errors"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
            <% end %>
        </div>
      </div>
        <%= yield %>
    </body>
  </html>
